<div class="page">
    <div class="page-header">Sign up</div>
    <div class="page-content">
      <div style="display: flex; flex-direction: column">
        <mat-form-field appearance="fill">
          <mat-label>Enter your username</mat-label>
          <input matInput placeholder="Username ..." />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div></div>
        <div>
          <button mat-raised-button color="primary">Sign</button>
          <a mat-raised-button [routerLink]="['']">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  